aiohttp==3.8.4
aiosignal==1.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.6.0
anyio==3.7.0
async-timeout==4.0.2
asyncio==3.4.3
asyncpg==0.27.0
attrs==23.1.0
beautifulsoup4==4.12.3
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
contourpy==1.1.0
cycler==0.11.0
dnspython==2.4.2
easyocr==1.7.1
email-validator==2.0.0.post2
exceptiongroup==1.1.1
fastapi==0.100.0
filelock==3.13.1
fonttools==4.41.0
frozenlist==1.4.0
fsspec==2023.6.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/future-0.18.2-py3-none-any.whl
h11==0.14.0
httpcore==0.18.0
httptools==0.6.1
httpx==0.25.0
idna==3.4
imageio==2.34.0
importlib-resources==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
kiwisolver==1.4.4
lazy_loader==0.3
lightning-utilities==0.9.0
llvmlite==0.40.1
loguru==0.7.0
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
ninja==1.11.1.1
numba==0.57.1
numpy==1.24.3
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
orjson==3.9.9
packaging==23.1
pandas==1.5.3
Pillow==10.0.0
plotly==5.15.0
psycopg2-binary==2.9.6
PuLP==2.7.0
pyclipper==1.3.0.post5
pydantic==2.6.1
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.16.2
pyparsing==3.1.0
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytorch-lightning==2.0.5
pytz==2023.3
PyYAML==6.0
requests==2.31.0
resources==0.0.1
scikit-image==0.22.0
scikit-learn==1.2.2
scipy==1.11.1
seaborn==0.12.2
shapely==2.0.3
shortuuid==1.0.11
six==1.16.0
slack_sdk==3.27.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.18
starlette==0.27.0
sympy==1.12
tenacity==8.2.2
threadpoolctl==3.1.0
tifffile==2024.2.12
torch==2.2.0
torchmetrics==1.0.0
torchvision==0.17.0
tqdm==4.65.0
tslearn==0.6.1
typing_extensions==4.9.0
tzdata==2023.3
ujson==5.8.0
urllib3==1.26.6
uvicorn==0.22.0
uvloop==0.18.0
watchfiles==0.21.0
websockets==11.0.3
yarl==1.9.2
zipp==3.16.0
